.edit-shirt{
    border: 1px solid #EEE;
    height: 250px;     
    padding-left: 20px;
    border-radius: 8px;
}
h4{ 
	margin-left: 20px;
	margin-top: 20px;
	margin-bottom: 24px;
	color:#347ab7;
}
.shirt-image{
	border: 1px solid #EEE;          
    padding: 20px;
    border-radius: 8px;
}
.image{
	width: 80%;
	height: 635px;
	margin: 0 auto;
}

input[type=file] {
    display: inline;
}
.edit-shirt button{
	width: 290px;
}

.btns button{
	margin-left: 20px;
} 
