<div class="container">
	<div class="row"> 
	    <div class="col-md-4">
	    	<div class="edit-shirt"> 
	    		<h4>Edit options</h4>  

	    		  <input class="btn btn-primary upload" (change)="handleDrop($event)" type="file"   id="uploadedImg"/>

	    	    <!-- <button class="btn btn-primary upload"  (click)="upload(this)" >Add image</button> -->
	    	    <div style="margin-top: 20px"> <button class="btn btn-primary" (click)="addText()">Add Text on your T-Shirt</button></div>
	    	</div>
	    <div style="padding-top:40px;" class='btns'> <button class="btn btn-primary" (click)="saveShirt()">Save Shirt Design</button>
       	<button class="btn btn-primary get-design" (click)="getDesign()">Get design</button>


	    </div>	
	    </div>
	    <div class="col-md-8">
	    	<div class="shirt-image">
	    		 <div class="image">
	    		 	  <canvas id="canvas" class="canvas" (click)="renderAll" width="500" height="500">
                        <!-- <img src="http://tshirts.imomin.com/img/crew_front.png"> -->
                      </canvas>
	    		 </div>   
	    	</div>
 


	    </div>
	</div>    
</div>